*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}
body{
    background-color: #D6E1F0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: white;
    min-width: 100px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px 36px 16px;
    border-radius: 20px;
}
img{
    max-width: 358px;
    border-radius: 20px;
    min-width: 80px;
}
p{
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    text-align: center;
    
}
h1{
    text-align: center;
    color: hsl(218, 44%, 22%);
    min-width: 348px;
    margin: 30px 0;
}
